.head-title{
  width: auto;
  height: 64px;
  font-size: 24px;
}
.head-img {
  position: fixed !important;
  right: 200px;
  top: 8px;
  width: 48px !important;
  height: 48px !important;
}
.ant-popover-inner{
  border-radius: 10px !important;
}